<location-slide>
	<h2 class="slide-question-txt">Please choose your location:</h2>
        <div class="row slide-two-button-div">
            <div class="col col-50">
                <div ng-class="{'slide-select-button': !orlSelected, 'slide-selected-button': orlSelected}" ng-click="locationSelect('Orlando')">
                    <p>Orlando</p>
                </div>
            </div>
            <div class="col col-50">
                <div ng-class="{'slide-select-button': !kissSelected, 'slide-selected-button': kissSelected}" ng-click="locationSelect('Kissimmee')">
                    <p>Kissimee</p>
                </div>
            </div>
        </div>
        <div class="row next-prev-button-row">
            <div class="col col-50">
                <div class="slide-nav-button prev">
                    <p>Prev</p>
                    <img class="flip-img" src="img/icons8-right-50.png" />
                </div>
            </div>
            <div class="col col-50">
                <div class="slide-nav-button next" ng-if="isDisabled()" ng-click="$parent.nextSlide(1,1,0)">
                    <p>Next</p>
                    <img src="img/icons8-right-50.png" />
                </div>
            </div>
        </div>
</location-slide>
