<ion-slide-page>
  <h2 class="slide-question-txt">Please enter your full name.</h2>
  <div class="row slide-one-textbox-div">
    <input type="text" placeholder="Full name" />
  </div>
  <div class="row next-prev-button-row">
    <div class="col col-50">
      <div class="slide-nav-button prev">
        <p>Prev</p>
        <img class="flip-img" src="img/icons8-right-50.png" />
      </div>
    </div>
    <div class="col col-50">
      <div class="slide-nav-button next" ng-click="$parent.nextSlide()">
        <p>Next</p>
        <img src="img/icons8-right-50.png" />
      </div>
    </div>
  </div>
</ion-slide-page>
<ion-slide-page>
  <h2 class="slide-question-txt">Please enter your phone number.</h2>
  <div class="row slide-one-textbox-div">
    <input type="text" placeholder="Phone number" />
  </div>
  <div class="row next-prev-button-row">
    <div class="col col-50">
      <div class="slide-nav-button prev">
        <p>Prev</p>
        <img class="flip-img" src="img/icons8-right-50.png" />
      </div>
    </div>
    <div class="col col-50">
      <div class="slide-nav-button next" ng-click="$parent.nextSlide()">
        <p>Next</p>
        <img src="img/icons8-right-50.png" />
      </div>
    </div>
  </div>
</ion-slide-page>
<ion-slide-page>
  <h2 class="slide-question-txt">What is your birth date?</h2>
  <div class="row slide-one-textbox-div">
    <input type="date" placeholder="Birth Date" />
  </div>
  <div class="row next-prev-button-row">
    <div class="col col-50">
      <div class="slide-nav-button prev">
        <p>Prev</p>
        <img class="flip-img" src="img/icons8-right-50.png" />
      </div>
    </div>
    <div class="col col-50">
      <div class="slide-nav-button next" ng-click="nextSlide()">
        <p>Next</p>
        <img src="img/icons8-right-50.png" />
      </div>
    </div>
  </div>
</ion-slide-page>
<ion-slide-page>
  <h2 class="slide-question-txt">Please enter your address.</h2>
  <div class="row slide-one-textbox-div">
    <input type="text" placeholder="Address" />
  </div>
  <div class="row next-prev-button-row">
    <div class="col col-50">
      <div class="slide-nav-button prev">
        <p>Prev</p>
        <img class="flip-img" src="img/icons8-right-50.png" />
      </div>
    </div>
    <div class="col col-50">
      <div class="slide-nav-button next" ng-click="nextSlide()">
        <p>Next</p>
        <img src="img/icons8-right-50.png" />
      </div>
    </div>
  </div>
</ion-slide-page>
<ion-slide-page>
  <h2 class="slide-question-txt">Please enter your Social Security Number.</h2>
  <div class="row slide-one-textbox-div">
    <input type="text" placeholder="Social Security Number" />
  </div>
  <div class="row next-prev-button-row">
    <div class="col col-50">
      <div class="slide-nav-button prev">
        <p>Prev</p>
        <img class="flip-img" src="img/icons8-right-50.png" />
      </div>
    </div>
    <div class="col col-50">
      <div class="slide-nav-button next" ng-click="nextSlide()">
        <p>Next</p>
        <img src="img/icons8-right-50.png" />
      </div>
    </div>
  </div>
</ion-slide-page>
<ion-slide-page>
  <h2 class="slide-question-txt">Please enter your Email.</h2>
  <div class="row slide-one-textbox-div">
    <input type="email" placeholder="Email" />
  </div>
  <div class="row next-prev-button-row">
    <div class="col col-50">
      <div class="slide-nav-button prev">
        <p>Prev</p>
        <img class="flip-img" src="img/icons8-right-50.png" />
      </div>
    </div>
    <div class="col col-50">
      <div class="slide-nav-button next" ng-click="nextSlide()">
        <p>Next</p>
        <img src="img/icons8-right-50.png" />
      </div>
    </div>
  </div>
</ion-slide-page>
<ion-slide-page>
  <h2 class="slide-question-txt">Please enter your City.</h2>
  <div class="row slide-one-textbox-div">
    <input type="text" placeholder="City" />
  </div>
  <div class="row next-prev-button-row">
    <div class="col col-50">
      <div class="slide-nav-button prev">
        <p>Prev</p>
        <img class="flip-img" src="img/icons8-right-50.png" />
      </div>
    </div>
    <div class="col col-50">
      <div class="slide-nav-button next" ng-click="nextSlide()">
        <p>Next</p>
        <img src="img/icons8-right-50.png" />
      </div>
    </div>
  </div>
</ion-slide-page>
<ion-slide-page>
  <h2 class="slide-question-txt">Please enter your State.</h2>
  <div class="row slide-one-textbox-div">
    <input type="text" placeholder="State" />
  </div>
  <div class="row next-prev-button-row">
    <div class="col col-50">
      <div class="slide-nav-button prev">
        <p>Prev</p>
        <img class="flip-img" src="img/icons8-right-50.png" />
      </div>
    </div>
    <div class="col col-50">
      <div class="slide-nav-button next" ng-click="nextSlide()">
        <p>Next</p>
        <img src="img/icons8-right-50.png" />
      </div>
    </div>
  </div>
</ion-slide-page>
<ion-slide-page>
  <h2 class="slide-question-txt">Please enter your Zip Code.</h2>
  <div class="row slide-one-textbox-div">
    <input type="text" placeholder="Zip Code" />
  </div>
  <div class="row next-prev-button-row">
    <div class="col col-50">
      <div class="slide-nav-button prev">
        <p>Prev</p>
        <img class="flip-img" src="img/icons8-right-50.png" />
      </div>
    </div>
    <div class="col col-50">
      <div class="slide-nav-button next" ng-click="nextSlide()">
        <p>Next</p>
        <img src="img/icons8-right-50.png" />
      </div>
    </div>
  </div>
</ion-slide-page>
<ion-slide-page>
  <h2 class="slide-question-txt">Please enter your Cell Phone.</h2>
  <div class="row slide-one-textbox-div">
    <input type="text" placeholder="Cell Phone" />
  </div>
  <div class="row next-prev-button-row">
    <div class="col col-50">
      <div class="slide-nav-button prev">
        <p>Prev</p>
        <img class="flip-img" src="img/icons8-right-50.png" />
      </div>
    </div>
    <div class="col col-50">
      <div class="slide-nav-button next" ng-click="nextSlide()">
        <p>Next</p>
        <img src="img/icons8-right-50.png" />
      </div>
    </div>
  </div>
</ion-slide-page>
<ion-slide-page>
  <h2 class="slide-question-txt">How many children are in your household?</h2>
  <div class="row slide-one-textbox-div">
    <input type="number" placeholder="# of children" />
  </div>
  <div class="row next-prev-button-row">
    <div class="col col-50">
      <div class="slide-nav-button prev">
        <p>Prev</p>
        <img class="flip-img" src="img/icons8-right-50.png" />
      </div>
    </div>
    <div class="col col-50">
      <div class="slide-nav-button next" ng-click="nextSlide()">
        <p>Next</p>
        <img src="img/icons8-right-50.png" />
      </div>
    </div>
  </div>
</ion-slide-page>
<ion-slide-page>
  <h2 class="slide-question-txt">Do you receive child support for any child?</h2>
  <div class="row slide-two-button-div">
    <div class="col col-50">
      <div class=slide-select-button>
        <p>Yes</p>
      </div>
    </div>
    <div class="col col-50">
      <div class="slide-select-button">
        <p>No</p>
      </div>
    </div>
  </div>
  <div class="row next-prev-button-row">
    <div class="col col-50">
      <div class="slide-nav-button prev">
        <p>Prev</p>
        <img class="flip-img" src="img/icons8-right-50.png" />
      </div>
    </div>
    <div class="col col-50">
      <div class="slide-nav-button next" ng-click="nextSlide()">
        <p>Next</p>
        <img src="img/icons8-right-50.png" />
      </div>
    </div>
  </div>
</ion-slide-page>
<ion-slide-page>
  <h2 class="slide-question-txt">How many children do you receive child support for?</h2>
  <div class="row slide-one-textbox-div">
    <input type="number" placeholder="# of children" />
  </div>
  <div class="row next-prev-button-row">
    <div class="col col-50">
      <div class="slide-nav-button prev">
        <p>Prev</p>
        <img class="flip-img" src="img/icons8-right-50.png" />
      </div>
    </div>
    <div class="col col-50">
      <div class="slide-nav-button next" ng-click="nextSlide()">
        <p>Next</p>
        <img src="img/icons8-right-50.png" />
      </div>
    </div>
  </div>
</ion-slide-page>
<ion-slide-page>
  <h2 class="slide-question-txt">What is your income before taxes?</h2>
  <div class="row slide-one-textbox-div">
    <input type="number" placeholder="$" />
  </div>
  <div class="row slide-two-radio-div">
    <div class="col col-50">
      <ion-radio ng-model="incomeSpan" ng-value="Hourly">Hourly</ion-radio>
    </div>
    <div class="col col-50">
      <ion-radio ng-model="incomeSpan" ng-value="Annually">Annually</ion-radio>
    </div>
  </div>
  <div class="row next-prev-button-row">
    <div class="col col-50">
      <div class="slide-nav-button prev">
        <p>Prev</p>
        <img class="flip-img" src="img/icons8-right-50.png" />
      </div>
    </div>
    <div class="col col-50">
      <div class="slide-nav-button next" ng-click="nextSlide()">
        <p>Next</p>
        <img src="img/icons8-right-50.png" />
      </div>
    </div>
  </div>
</ion-slide-page>
<ion-slide-page>
  <h2 class="slide-question-txt">Do you have a spouse?</h2>
  <div class="row slide-two-button-div">
    <div class="col col-50">
      <div class=slide-select-button>
        <p>Yes</p>
      </div>
    </div>
    <div class="col col-50">
      <div class="slide-select-button">
        <p>No</p>
      </div>
    </div>
  </div>
  <div class="row next-prev-button-row">
    <div class="col col-50">
      <div class="slide-nav-button prev">
        <p>Prev</p>
        <img class="flip-img" src="img/icons8-right-50.png" />
      </div>
    </div>
    <div class="col col-50">
      <div class="slide-nav-button next" ng-click="nextSlide()">
        <p>Next</p>
        <img src="img/icons8-right-50.png" />
      </div>
    </div>
  </div>
</ion-slide-page>