/* Empty. Add your own CSS if you like */
.scroll{
    /*height:100%;*/
}
ion-slide-page{
    
}
.input-cover {
    position: static;
}
.slide-question-txt{
    color: #777777;
    font-weight: 500;
    font-size: 28pt;
}
.slide-two-button-div{
    width: 430px;
    padding-top: 27px !important;
}
.slide-select-button{
    border: 4px solid #5392cf;
    width: 200px;
    height: 77px;
    text-align: center;
    color: white;
    border-radius: 7px;
    padding-top: 21px;
}
.slide-select-button p{
    color: #5392cf;
    font-weight: 700;
    font-size: 21pt;
}

.slide-selected-button{
    border: 4px solid #5392cf;
    width: 200px;
    height: 77px;
    text-align: center;
    background-color: #5392cf;
    border-radius: 7px;
    padding-top: 21px;
}
.slide-selected-button p{
    color: white;
    font-weight: 700;
    font-size: 21pt;
}

.next-prev-button-row{
    margin-top: 30px !important;
    width: 390px;
}
.next-prev-button-row .slide-nav-button {
    border: 4px solid #5392cf;
    width: 170px;
    height: 70px;
    background-color: #5392cf;
    color: white;
    border-radius: 7px;
    padding-top: 21px;
    position: relative;
}
.next{
    padding-left:15px;
}

.prev{
    padding-left:77px;
}
.next-prev-button-row .slide-nav-button p{
    font-size:17pt;
}
.next-prev-button-row .slide-nav-button img{
    position:absolute;top:8px;right:3px;
}
.next-prev-button-row .slide-nav-button .flip-img{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    
    position:absolute;
    top:8px;
    left:7px;
}

.slide-two-radio-div{
    width: 465px;
    padding:0px;
}

.slide-one-textbox-div input{
    border: 3px solid #5392cf;
    height: 50px;
    width: 450px;
    font-size: 21pt;
    line-height: 50px;
    padding: 7px;
    font-weight: 300;
    color: #7C7C7C;
}

.circle-border-selected{
    border:2px solid #5392cf;
}

.circle-border-not-selected{
    border:2px solid #C7C7C7;
}

textarea{
	border: 3px solid #5392cf;
	height: 150px;
	width: 450px;
	font-size: 21pt;
	line-height: 50px;
	padding: 7px;
	font-weight: 300;
	color: #7C7C7C;
}

.list{
	width: 100% !important;
}

#hearAboutUs ion-list{
    width: 615px; 
}

#hearAboutUs .item-content{
    padding-right: 10px !important;
}

.item-radio .radio-icon {
   color: #5392cf;
}

.item-radio .item-content{
    border: 1px solid gray;
}

/* .swiper-container{
    z-index: 11;
}  */

.stateDropdown{
    height: 50px;
    width: 335px;
    font-size: 22px;
}

.dollarSign{
    text-align: left;
    font-size: 40px;
    padding-top: 13px;
    color: grey;
}